#grid {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
#grid td {
  border: 1px solid black;
  width: 8px;
  height: 8px;
}
#grid td.alive {
  background-color: #ff0000;
}
#grid td.dead {
  background-color: #ffffff;
}
